<h2>Edit Existing Activity</h2>
<%= form_tag activity_path(@activity), :method => :put do %>
  <%= label :activity, :status, 'Close an activity', :class => 'col-form-label'  %>
  <%= select :activity, :status, ['Open', 'Close'], {}, {:class => 'form-control col-1'} %>
  <%= label :activity, :event_name, 'Event Name', :class => 'col-form-label' %>
  <%= text_field :activity, 'event_name', :class => 'form-control' %>
  <%= label :activity, :max_size, 'Max Size', :class => 'col-form-label' %>
  <%= text_field :activity, 'max_size', :class => 'form-control' %>
  <%= label :activity, :current_size, 'Current Size', :class => 'col-form-label' %>
  <%= text_field :activity, 'current_size', :class => 'form-control' %>
  <%= label :activity, :date, 'Date', :class => 'col-form-label' %>
  <%= text_field :activity, 'date', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Activity Info', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', activities_path, :class => 'btn btn-secondary' %>
<% end %>
