<h2>Create New Activity</h2>

<%= form_tag activities_path, :class => 'form' do %>
  <%= label :activity, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :activity, :name, :class => 'form-control' %>

  <%= label :activity, :organizer, 'Organizer', :class => 'col-form-label' %>
  <%= text_field :activity, :organizer, :class => 'form-control' %>

  <%= label :activity, :release_date, 'Released On', :class => 'col-form-label'  %>
  <%= date_select :activity, :release_date, {}, :class => 'form-control col-2 d-inline' %>


  <%= label :movie, :rating, 'Rating', :class => 'col-form-label'  %>
  <%= select :movie, :rating, ['G','PG','PG-13','R','NC-17'], {}, {:class => 'form-control col-1'} %>
  <%= label :movie, :release_date, 'Released On', :class => 'col-form-label'  %>
  <%= date_select :movie, :release_date, {}, :class => 'form-control col-2 d-inline' %>
  
  
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', activities_path, :class => 'btn btn-secondary' %>
<% end %>
