<!--  app/views/activities/show.html.erb -->
<h2>Details about <em><%= @activity.event_name %></em></h2>

<ul id="details">
  <li>
    Category:
    <%= @activity.category %>
  </li>
  <li>
    Maximum size:
    <%= @activity.max_size %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @activity.description %>
</p>

<div class="row">
  <%= link_to 'Edit', edit_activity_path(@activity), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', activity_path(@activity), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to activities list', activities_path, :class => 'btn btn-primary col-2' %>
</div>
