<h2>Activity Board</h2>







<table class="table table-striped col-md-12" id="activities">
  <thead>
  <tr>
    <th>Event Name</th>
    <th>
      <%= link_to 'Organizer',
                  following_index_path({sort_by: 'creator_id'}),
                  id: 'organizer_header', class: ('bg-warning hilite' if @sort_by == 'creator_id') %>
    </th>
    <th>Max Capacity</th>
    <th>Current Number of Participants</th>
    <th>Category</th>
    <th>
      <%= link_to 'Date',
                  following_index_path({sort_by: 'date'}),
                  id: 'date_header', class: ('bg-warning hilite' if @sort_by == 'date') %>
    </th>
    <th>Location</th>
    <th>Status</th>


  </tr>
  </thead>
  <tbody>
  <% @activities.each do |activity| %>
    <tr>
      <td>
        <%= link_to "#{activity.event_name}", activity_path(activity) %>
      </td>
      <td>
        <%=  link_to "#{User.find(activity.creator_id).user_name}", user_path(activity.creator_id) %>
      </td>
      <td>
        <%= activity.max_size %>
      </td>
      <td>
        <%= activity.current_size %>
      </td>
      <td>
        <%= activity.category %>
      </td>
      <td>
        <%= activity.date %>
      </td>
      <td>
        <%= activity.location %>
      </td>
      <td>
        <%= activity.open_status %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">

  <%= link_to 'Back to activities list', activities_path, :class => 'btn btn-primary col-2' %>
</div>